.wrapper {
    height: 100vh;
    overflow-x: hidden;
    /* // overflow-y: auto; */
    perspective: 2px;
  }
  
  
  .section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    text-shadow: 0 0 5px #000;
    text-align:center;
  }
  
  
  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    z-index: -1;
  }
  
  .static {
    background-color: black;
  }
  
  .bg_1::after {
    margin-top: -50px;
    background: linear-gradient(rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)),url('/Steak House.png');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
  }
  
  .bg_2::after {
    margin-top: -50px;
    background: linear-gradient(rgba(0, 0, 0, 0.35),
    rgba(0, 0, 0, 0.35)),url('/VIP Hair.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
  }